.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  .title-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--foreground-default);
    font-size: 1.1em;
    margin-left: 1em;
    img {
      width: 1.5em;
      height: 1.5em;
      padding: 1em .5em;
    }
    .title {
      font-size: 1.1em;
      font-family: "Inter Tight", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      text-align: left;
      font-style: normal;
      font-weight: 400;
      background-color: var(--background-default);
      margin: 1em 0;
      line-height: 1.2em;
      width: 100%;
    }
  }
  .app-content {
    min-width: calc(100% - 20em);
    .portal-container {
      height: calc(100vh - 100px);
      margin-top: .3em;
      .tab-content {
        padding: 1em;
        height: 100%;
      }
    }
  }
}