.app-container {
  height: 100%;
  .title-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--foreground-default);
    font-size: 1.1em;
    img {
      width: 1.8em;
      height: 1.8em;
      padding: 1em .5em;
      padding-right: 0;
    }
    .title {
      font-size: 1.2em;
      font-family: "Inter Tight", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      text-align: center;
      font-style: normal;
      font-weight: 400;
      background-color: var(--background-default);
      margin: 1em 0;
      line-height: 1.1em;
      width: 100%;
    }
  }
  .app-content {
    min-width: calc(100% - 20em);
    overflow-y: visible;
    .portal-container {
      height: calc(100vh - 4em);
      margin-top: .3em;
      margin-left: 20em;
      .tab-content {
        padding: 1em;
        height: 100%;
      }
    }
    .page-footer-container {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: var(--background-default);
    }
  }
  .sider-bar {
    .tabs {
      .title-container {
        .title {
          background-color: var(--background-light);
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .app-container {
    .app-content {
      .portal-container {
        margin-left: 0;
      }
    }
  }
}