<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  >
  <app-section-container>
    <div class="title" id="introduction" title>Introduction</div>
    <div class="description-container">
      <div class="item">
        The following command allow us to create a new project in v13.
      </div>
      <div class="item">
        <app-code-container
          [code]="instruction"
          [languages]="['html']">
        </app-code-container>
      </div>
      <div class="item">
        There are a few steps to upgrade existed projects to v13.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              Upgrade the application with the following commands.
            </div>
            <div class="item">
              <app-code-container
                [code]="updateInstruction"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Check the 
              <a href="/#/breaking-changes">Breaking Changes</a> topic.
            </div>
          </li>
          <li>
            <div class="item">
              Check the 
              <a href="/#/deprecations">Deprecations</a> topic.
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" id="officialmigrationguide" title>Official Migration Guide</div>
    <div class="description-container">
      <div class="item">
        Please also refer to the 
        <a href="https://update.angular.io/?v=12.0-13.0">official migration guide</a> if you need more details.  
      </div>
      <div class="item">
        <div class="image-container">
          <img src="../../assets/image/migration_guide.png" alt="">
        </div>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference" title>Reference</div>
    <div class="reference-container">
      <div class="item">
        <ul>
          <li>
            <a href="https://update.angular.io/?v=12.0-13.0"> Angular Update Guide</a>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</app-page-container>
