<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  >
  <app-section-container>
    <div class="title" id="introduction" title>Introduction</div>
    <div class="description-container">
      <div class="item">
        The test modules can be teared down after each test.
      </div>
      <div class="item">
        <app-code-container
          [code]="testComponent"
          [languages]="['typescript']">
        </app-code-container>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" id="demo" title>Demo</div>
    <div class="description-container">
      <div class="item image-container">
        <img src="../../assets/image/testing.png" alt="">    
      </div>
    </div>
  </app-section-container>
</app-page-container>