<div class="base-container">
  <div class="page-title">{{ title }}</div>

  <app-section-container>
    <div class="title">Description</div>
    <div class="description-container">
      <div class="item">
        The test modules can be teared down after each test.
      </div>
      <div class="item">
        <pre>
          <code
            [highlight]="testComponent"
            [languages]="['typescript']"  
            [lineNumbers]="true"
          ></code>
        </pre>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title">Demo</div>
    <div class="demo-container">
      <img src="../../assets/image/testing.png" alt="">    
    </div>
  </app-section-container>
</div>