@use "../../../../node_modules/angular-documentation-ui/styles/pages/index";

.content-container {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-style: normal;
  font-weight: 400;
}

.reference-container {
  width: 15em;
  font-size: 1.1em;
  margin: 0 auto;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--foreground-secondary);
}

.debugging-container {
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  .content {
    width: 40em;
    margin: 0 auto;
  }
  li {
    width: 40em;
    margin: 1em auto;
    img {
      width: 40em;
    }
  }
}

.demo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1em;
  padding-bottom: 2em;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid var(--foreground-secondary);
  .item {
    margin: .4em 0;
  }
}

.warning {
  display: inline;
  color: red;
}

.time-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    list-style-type: none;
    position: relative;
    a {
      font-size: .7em;
    }
  }
  .time-line-item {
    border: 1px solid var(--foreground-default);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
    padding-left: .2em;
    width: 6em;
    height: 6em;
    background: var(--foreground-secondary);
    &::before {
      content: '';
      width: 3em;
      position: absolute;
      right: 6.2em;
      border-bottom: 1px solid var(--foreground-default);
    }
  }
}

@media screen and (max-width: 1300px) {
  .description-container {
    padding-left: 0;
  }
}