<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >
  <!-- title -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few minor changes in v13.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              We are allowed to cancel routerLink by passing null or undefined
              <a href="https://github.com/angular/angular/pull/38884">
                (pull request)
              </a>
            </div>
            <div class="item">
              <app-code-container key="routeLinkCancel">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              We are allowed to disable built-in validators by setting the value to null
              <a href="https://github.com/angular/angular/pull/42565">(pull request)</a>
            </div>
            <div class="item">
              <app-code-container key="nullValidator">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              The URL serializer respects question marks in the query parameters.
            </div>
            <div class="item">
              <app-code-container key="urlSerializer">
              </app-code-container>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>