<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  >
  <!-- title -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few breaking changes in v13.
      </div>
      <div class="item">
        <ol>
          <li>
            Angular v13 requires node.js version v12.20.0 
            <a href="https://angular.io/guide/versions">(Version Compatibility)</a>
          </li>
          <li>
            Angular v13 requires 
            <a href="https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-4.html">
              TypeScript version 4.4
            </a> or later
            <a href="https://angular.io/guide/versions">(Version Compatibility)</a>
            <div>
              <ul>
                <li>Improvement of type guard
                  <div class="item">
                    <app-code-container
                      [code]="typeguard"
                      [languages]="['typescript']">
                    </app-code-container>
                  </div>
                </li>
                <li>Defaulting to the unknown Type in Catch Variables if we enable useUnknownInCatchVariables
                  <div class="item">
                    <app-code-container
                      [code]="typeguard"
                      [languages]="['typescript']">
                    </app-code-container>
                  </div>
                </li>
                <li>Symbol and template string pattern index signatures
                  <div class="item">
                    <app-code-container
                      [code]="tsSymbol"
                      [languages]="['typescript']">
                    </app-code-container>
                  </div>
                </li>
                <li>static Blocks in Classes
                  <div class="item">
                    <app-code-container
                      [code]="tsStaticBlock"
                      [languages]="['typescript']">
                    </app-code-container>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            Angular v13 uses 
            <a href="https://rxjs.dev/6-to-7-change-summary">
              RxJS 7.4
            </a>
            <div>
              <ul>
                <li>
                  <div class="item">
                    <app-code-container
                      [code]="upgardeRx"
                      [languages]="['typescript']">
                    </app-code-container>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            Stop supporting IE11 
            <a href="https://github.com/angular/angular/issues/41840">
              (Pull request)
            </a>
            <div>
              <ul>
                <li>
                  The IE-specific polyfills were dropped 
                </li>
                <li>
                  Be able to remove special JS and CSS code paths, polyfills, build passes, and dev infrastructure that exists
                </li>
                <li>
                  Be able to use CSS Variables, Intersection Observers, CSS Grid after removing IE11 supports
                </li>
              </ul>
            </div>
          </li>
          <li>
            Remove differential loading: support different browsers with different bundles
            <div>
              <ul>
                <li>When we want to import ES6 modules, we can use type="module" to let the browser knows</li>
                <li>For the legacy browsers (e.g., IE 11), it can't support ES6 modules so we use nomodule</li>
              </ul>
            </div>
            <div class="item">
              <app-code-container
                [code]="distIndex"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <!-- supplements -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="description-container">
      <div class="item">
        The rendering will be blocked when the scrippt is downloaded or executed. (synchronous)
      </div>
      <div class="item image-container">
        <img src="../../assets/image/critical_path.webp" alt="">    
      </div>
      <div class="item">
        There are a few methods to avoid render blocking
        <ul>
          <li>
            The script will be asynchronously downloaded when specifying the module attribute. The script will be executed after rendering completed.
            <div class="item">
              <app-code-container
                [code]="moduleSyntax"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
          <li>
            The script will be asynchronously downloaded when adding the async attribute. The script will be executed before rendering completed.
             <div class="item">
              <app-code-container
                [code]="moduleAsyncSyntax"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
        </ul>
      </div>
      <div class="item image-container">
        <img src="../../assets/image/script.png" alt="">    
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference" title>Reference</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>