<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >
  <!-- title -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few breaking changes in v13.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              v13 requires node.js version v12.20.0 
              <a href="https://angular.io/guide/versions">(Version Compatibility)</a>
            </div>
          </li>
          <li>
            <div class="item">
              v13 requires 
              <a href="https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-4.html">
                TypeScript version 4.4
              </a> or later
              <a href="https://angular.io/guide/versions">(Version Compatibility)</a>
            </div>
          </li>
          <li>
            <div class="item">
              v13 uses 
              <a href="https://rxjs.dev/6-to-7-change-summary">
                RxJS 7.4
              </a>
            </div>
            <div class="item">
              <app-code-container key="upgardeRx">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Stop supporting IE 11 
              <a href="https://github.com/angular/angular/issues/41840">
                (Pull request)
              </a>
            </div>
            <div class="item">
              There are a few benefits.
            </div>
            <div class="item">
              <ol>
                <li>
                  <div class="item">
                    Angular can remove the IE-specific code paths (JavaScript and CSS), polyfills, build passes, and infrastructure.
                  </div>  
                </li>
                <li>
                  <div class="item">
                    The 
                    <a [href]="getHash(sectionTitles[3])">
                      <b>differential loading</b>
                    </a> feature has been removed.
                  </div>
                </li>
              </ol>
            </div>
          </li>
          <li>
            <div class="item">
              <b>Ivy everywhere</b>:
            View engine is removed and Ivy is fully used (also check the <a href="https://eloquent-macaron-9ce67b.netlify.app/#/deprecations"> note of Angular 12</a>)
            </div>
            <div class="item">
              There are a few benefits.
            </div>
            <div class="item">
              <ol>
                <li>
                  <div class="item">
                    We no longer needs to be compile
                    <a href="/notes"> libraries (built with APF 13)</a> 
                    with ngcc.
                  </div>
                </li>
                <li>
                  <div class="item">
                    Developers can create dynamic components easier by using the
                    <a routerLink="/standard"> new component APIs</a>
                  </div>
                </li>
                <li>
                  <div class="item">
                    Developers are allowed to create animations through the
                    <a routerLink="/inline-font">native API</a>.
                  </div>
                  <div class="item">
                    (clarification: CSS variables is already enabled in Angular 12)
                  </div>
                </li>
              </ol>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few notable items in 
        <a href="https://devblogs.microsoft.com/typescript/announcing-typescript-4-4/">
          TypeScript 4.4
        </a>. We pick up some useful topics in this section.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              <b>
                Bugfix of type guard
              </b>
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Previously, the information of the type guard will lost when it's assigned to a variable.
                  </div>
                </li>
                <li>
                  <div class="item">
                    Now it works with no errors.
                  </div>
                </li>
              </ul>
            </div>
            <div class="item">
              <app-code-container key="typeguard">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              <b>
                New tsconfig option: --useUnknownInCatchVariables
              </b>
            </div>
            <div class="item">
              If we enable useUnknownInCatchVariables, the error variable in the catch block is default to the <b>unknown</b> type.
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Currently
                  </div>
                  <div class="item">
                    <app-code-container key="tsUnknown">
                    </app-code-container>
                  </div>
                </li>
                <li>
                  <div class="item">
                   Th solution is to specify the type of the error variable in the catch block. 
                  </div>
                  <div class="item">
                    <app-code-container key="tsUnknownSolution">
                    </app-code-container>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              <b>
                Symbol and template string pattern index signatures:
                <a href="https://devblogs.microsoft.com/typescript/announcing-typescript-4-4/#symbol-template-signatures">
                  (reference)
                </a>
              </b>
            </div>
            <div class="item">
              Now we are allowed to use <b>index signature</b> for <b>symbols</b> and <b>template string patterns</b> to define properties.
            </div>
            <ul>
              <li>
                <div class="item">
                  Example of defining properties with <b>index signatures</b> for <b>symbols</b>
                </div>
                <div class="item">
                  <app-code-container key="tsSymbol">
                  </app-code-container>
                </div>
              </li>
              <li>
                <div class="item">
                  Example of defining properties with <b>template string patterns</b> for <b>symbols</b>
                </div>
                <div class="item">
                  <app-code-container key="tsTemplateString">
                  </app-code-container>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="item">
              <b>
                Static Blocks in Classes:
                <a href="https://devblogs.microsoft.com/typescript/announcing-typescript-4-4/#static-blocks">
                  (reference)
                </a>
              </b>
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Previously, we usually assign value to the static variable when initializing. 
                  </div>
                  <div class="item">
                    We are not allowed to access fields within the containing class.
                  </div>
                  <div class="item">
                    <app-code-container key="withoutTsStaticBlock">
                    </app-code-container>
                  </div>
                </li>
                <li>
                  <div class="item">
                    Now we are allowed to write a sequence of statements in the static block. 
                  </div>
                  <div class="item">
                    We can initialize the static variable with <b>writing statements</b> and <b>full access</b> capabilities to our class’s internals.
                  </div>
                  <div class="item">
                    <app-code-container key="tsStaticBlock">
                    </app-code-container>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[2])" title>{{ sectionTitles[2] }}</div>
    <div class="description-container">
      <div class="item">
        With the differential loading, Angular can separate JavaScript code to different bundles and include them.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              The <b>type="nomodule"</b> attribute addresses this bundle does not belong to EcmaScript module (ESM).
            </div>
            <div class="item">
              For the legacy browsers (e.g., IE 8), they can only recognize <b>type="nomodule"</b> attribute.
            </div>
          </li>
          <li>
            <div class="item">
              The <b>type="module"</b> attribute addresses this bundle belongs to EcmaScript module (ESM).
            </div>
            <div class="item">
              For the modern browsers, they can recognize <b>type="module"</b> attribute.
            </div>
            <div class="item">
              <app-code-container key="distIndexNg8">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Now, Angular only use <b>type="module"</b> attribute because it has stopped supporting IE 11.
            </div>
            <div class="item">
              <app-code-container key="distIndex">
              </app-code-container>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        So, what is real purpose of the <b>type="module"</b> attribute?
      </div>
    </div>
  </app-section-container>

  <!-- supplements -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[3])" title>{{ sectionTitles[3] }}</div>
    <div class="description-container">
      <div class="item">
        The following diagram shows the workflow of
        <b>asking server for the web page</b> from the browser. 
        The rendering will be blocked by the <b>critical paths</b>.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Process of downloading JavaScript files.
            </div>
          </li>
          <li>
            <div class="item">
              Process of downloading CSS files.
            </div>
          </li>
          <li>
            <div class="item">
              Process of executing JavaScript files.
              <a href="https://developer.mozilla.org/zh-TW/docs/Web/API/Document/createElement">
                (e.g., Document.createElement API)
              </a>
            </div>
          </li>
          <li>
            <div class="item">
              Process of creating CSSDOM
            </div>
          </li>
        </ul>
      </div>
      <div class="item image-container">
        <img src="../../assets/image/critical_path.webp" alt="">    
      </div>
      <div class="item">
        (taken from <a href="https://medium.com/a-layman/how-browser-works-when-rendering-a-web-page-f49c09bec475">this reference</a>)
      </div>
      <div class="item">
        There are a few methods to avoid render blocking during the JavaScript downloading and executing.
      </div>
      <div class="item image-container">
        <img src="../../assets/image/script.png" alt="">    
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              After adding <b>type="module"</b> attribute, JavaScript files will be downloaded asynchronously and be executed after the rendering is completed.
            </div>
            <div class="item">
              In Angular, it's also used for being recognized if the bundle could support the modern browsers.
            </div>
            <div class="item">
              <app-code-container key="moduleSyntax">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              After adding the <b>async</b> attribute, JavaScript files will be downloaded asynchronously and be executed before rendering completed.
            </div>
             <div class="item">
              <app-code-container key="moduleAsyncSyntax">
              </app-code-container>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[4])" title>{{ sectionTitles[4] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>