<div class="base-container">
  <div class="title">{{ title }}</div>

  <!-- title -->
  <app-section-container>
    <div class="description-container">
      <div class="item">
        <ul>
          <li>
            Angular v16 requires node.js version v12.20.0 
            <a href="https://angular.io/guide/versions">(Version Compatibility)</a>
          </li>
          <li>
            Angular v16 requires TypeScript version 4.4 or later
            <a href="https://angular.io/guide/versions">(Version Compatibility)</a>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title">Reference</div>
    <div class="description-container">
      <div class="item">
        <ul>
        </ul>
      </div>
    </div>
  </app-section-container>
</div>