<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few deprecations in v13.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
             No longer specify lazy-loaded routes by setting a string value to loadChildren. Instead, we move to dynamic ESM import statements
            </div>
            <div class="item">
              <app-code-container key="loadChildren">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              server-side rendering (SSR)
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    renderModuleFactory was replaced to 
                    <a href="https://angular.io/api/platform-server/renderModule">
                      renderModule
                    </a> (@angular/platform-server package)
                  </div>
                </li>
                <li>
                  <div class="item">
                    <a href="https://angular.io/api/platform-server/renderModule">
                      renderModule
                    </a>:
                    bootstraps an application using provided NgModule and serializes the page content to string.
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="description-container">
      <div class="item">
        <b>Client-side rendering</b> renders pages directly in the browser with JavaScript(e.g., ng serve, ng build). All logic, data fetching, templating and routing are handled on the client rather than the server. 
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Pros
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Reduce the loading for the server.
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              Cons
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Unfriendly to mobile devices.
                  </div>
                </li>
                <li>
                  <div class="item">
                    Poor SEO
                  </div>
                </li>
                <li>
                  <div class="item">
                    <a href="https://developer.chrome.com/docs/lighthouse/performance/first-contentful-paint">
                      Higher Total Blocking Time (TBT)
                    </a>: the browser has to download JavaScript files and execute them before rendering the page.
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              Solutions
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    <a href="https://web.dev/articles/reduce-javascript-payloads-with-code-splitting">
                      Code splitting with Webpack
                    </a>
                  </div>
                </li>
                <li>
                  <div class="item">
                    Lazy loading
                  </div>
                </li>
                <li>
                  <div class="item">
                    Server-side rendering
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <b>Server-side rendering</b> generates the full HTML for a page on the server in response to navigation.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Pros
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Avoids additional round-trips for data fetching and templating on the client.
                  </div>
                </li>
                <li>
                  <div class="item">
                    Fast First Contentful Paint (FCP): SSR avoids sending lots of JavaScript to the client.
                  </div>
                </li>
                <li>
                  <div class="item">
                    Lower Total Blocking Time (TBT): SSR sending lots of JavaScript to the client. (download JavaScript files will block the main thread)
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              Cons
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Higher Time to First Byte (TTFB): generating pages on the server takes time.
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="image-container">
          <img src="../../assets/image/csr_ssr.png" alt="">
        </div>
      </div>
      <div class="item">
        (taken from <a href="https://web.dev/articles/rendering-on-the-web">this reference</a>)
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[2])" title>{{ sectionTitles[2] }}</div>
    <div class="description-container">
      <div class="item">
        For achieving SSR, we have to transform the angular modules to string on the server. It means that we have to run JavaScript on the server. So we need Node.js.
      </div>
      <div class="item">
        There are a few steps to set up the server-side rendering in v13.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              Install required packages.
            </div>
            <div class="item">
              <app-code-container key="installSSRpackages">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Generate required files.
            </div>
            <div class="item">
              <app-code-container key="installUniversal">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Create server.ts under the root folder.
            </div>
            <div class="item">
              <app-code-container key="renderModule">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Build files without hashing.
            </div>
            <div class="item">
              <app-code-container key="ngBuildNoHash">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Create the webpack.server.config.js under the root folder.
            </div>
            <div class="item">
              <app-code-container key="webpackConfigSSR">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Compile the server.ts.
            </div>
            <div class="item">
              <app-code-container key="compileServerTs">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Replace all <b>self</b> with <b>this</b>from the dist/server.ts.
            </div>
          </li>
          <li>
            <div class="item">
              Execute the dist/server.ts.
            </div>
            <div class="item">
              <app-code-container key="executeServerTs">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Open the browser and navigate to http://localhost:4201/index.html.
            </div>
            <div class="item">
              <div class="image-container">
                <img src="../../assets/image/ssr_app.png" alt="">
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div class="item">
        In v16, we only have to set 
        <a href="https://marvelous-gnome-0802fa.netlify.app/#/hydration">
          @nguniversal/express-engine
        </a>.
      </div>
      <div class="item">
        In v17, we only have to set up 
        <a href="https://chimerical-cocada-121bf6.netlify.app/#/hydration">
          @angular/ssr
        </a>
      </div>
    </div>
  </app-section-container>

  <!-- evaluation -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[3])" title>{{ sectionTitles[3] }}</div>
    <app-evaluation-container
      [pros]="pros"
      [cons]="cons">
    </app-evaluation-container>
  </app-section-container>
  
  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[4])" title>{{ sectionTitles[4] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>