<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  >
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few deprecations in v13.
      </div>
      <div class="item">
        <ol>
          <li>SSR: renderModuleFactory was replaced to 
            <a href="https://angular.io/api/platform-server/renderModule">
              renderModule
            </a> (@angular/platform-server package)
            <div class="item">
              <app-code-container
                [code]="renderModule"
                [languages]="['typescript']">
              </app-code-container>
            </div>
            <div class="item">
              In v16, we only have to set 
              <a href="https://marvelous-gnome-0802fa.netlify.app/#/hydration">
                @nguniversal/express-engine
              </a>. In v17, we only have to set up 
              <a href="https://chimerical-cocada-121bf6.netlify.app/#/hydration">
                @angular/ssr
              </a>
            </div>
          </li>
          <li>
            Remove View engine and fully use Ivy (don't need ngcc)
            <div class="item">
              In Angular 9, Ivy was introduced as an optimized next-generation compiliation and rendering pipe-line. 
              It as set as the default compilier. ngcc is a transformer between the legacy view enginee and the Ivy.
            </div>
            <div class="item">Source: ngConf-2018 keynote</div>
            <div class="item">
              <div class="image-container">
                <img src="../../assets/image/ivy.png" alt="">
              </div>
            </div>
            <div class="item">
              There are two major advantages of Ivy.
            </div>
            <div class="item">
              <ol>
                <li>
                  Ivy (rendering engine) itself tree shakable but the view enginee is not.
                </li>
                <li>
                  The Incremental DOM from IVY is tree shakable because components won't be interpreted into the templates. Instead, the cmponents refre to instructions, they will not be used if they are not rferred by any instructions.
                </li>
              </ol>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference" title>Reference</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>