<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few deprecations in v13.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              For the lazy-loaded routes, we should use dynamic ESM import statements instead of the string value.
            </div>
            <div class="item">
              <app-code-container key="loadChildren" [codeMap]="codeMap">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              For the server-side rendering, the renderModuleFactory API was replaced with the
              <a href="https://angular.io/api/platform-server/renderModule">
                renderModule API
              </a>.
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="description-container">
      <div class="item">
        <b>Client-side rendering (CSR)</b>
      </div>
      <div class="item">
        The core concept of CSR is all logic, data fetching, templating and routing are handled on the client rather than the server. (e.g., ng serve, ng build)
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              At the initial phase, CSR only renders partial pages without contents and UI componets to the browser.
            </div>
          </li>
          <li>
            <div class="item">
              After the JavaScript files are downloaded and executed, the full page is rendered.
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="image-container">
          <img src="../../assets/image/csr.png" alt="">
        </div>
      </div>
      <div class="item">
        Pros
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Reduce the loading of the server.
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        Cons
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Unfriendly to mobile devices.
            </div>
          </li>
          <li>
            <div class="item">
              Poor Search Engine Optimization (SEO).
            </div>
          </li>
          <li>
            <div class="item">
              Need additional round-trips for data fetching.
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        Possible solutions to optimize performance
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              <a href="https://web.dev/articles/reduce-javascript-payloads-with-code-splitting">
                Code splitting with Webpack
              </a>
            </div>
          </li>
          <li>
            <div class="item">
              Lazy loading
            </div>
          </li>
          <li>
            <div class="item">
              Server-side rendering
            </div>
          </li>
        </ol>
      </div>
      <div class="item">
        <b>Server-side rendering (SSR)</b>
      </div>
      <div class="item">
        The core concept of SSR is to generate the full HTML for a page on the server in response to navigation.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              At the initial phase, SSR will compiles and renders full pages with contents and UI componets to the browser on demands.
            </div>
          </li>
          <li>
            <div class="item">
              For third-party libraries, the browser still need to download and execute them.
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="image-container">
          <img src="../../assets/image/ssr.png" alt="">
        </div>
      </div>
      <div class="item">
        Pros
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Avoids additional round-trips for data fetching and templating on the client.
            </div>
          </li>
          <li>
            <div class="item">
              Won't send lots of JavaScript files to the client. (download JavaScript files will block the main thread)
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        Cons
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Generating pages on the server takes time.
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        (taken from <a href="https://web.dev/articles/rendering-on-the-web">this reference</a>)
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[2])" title>{{ sectionTitles[2] }}</div>
    <div class="description-container">
      <div class="item">
        The concept for implementing SSR is to transform the angular modules to string on the server. It means that we have to run JavaScript on the server. 
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              In v13, we need to write Node.js code as a server manually.
            </div>
          </li>
          <li>
            <div class="item">
              <a href="https://marvelous-gnome-0802fa.netlify.app/#/hydration">
                In v16
              </a>, the @nguniversal/express-engine package improves the development experiences.
            </div>
          </li>
          <li>
            <div class="item">
              <a href="https://chimerical-cocada-121bf6.netlify.app/#/hydration">
              In v17
              </a>, the @angular/ssr package improves the development experiences
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        There are a few steps to set up the server-side rendering in v13.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              Install required packages.
            </div>
            <div class="item">
              <app-code-container key="installSSRpackages" [codeMap]="codeMap">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Generate some required files automatically with the following command.
            </div>
            <div class="item">
              <app-code-container key="installUniversal" [codeMap]="codeMap">
              </app-code-container>
            </div>
            <div class="item">
              It will generate the following files.
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    app.server.module.ts
                  </div>
                  <div class="item">
                    <app-code-container key="appServerModule" [codeMap]="codeMap">
                    </app-code-container>
                  </div>
                </li>
                <li>
                  <div class="item">
                    main.server.ts
                  </div>
                  <div class="item">
                    <app-code-container key="mainServer" [codeMap]="codeMap">
                    </app-code-container>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              Update app.module.ts.
            </div>
            <div class="item">
              <app-code-container key="appModuleSSR" [codeMap]="codeMap">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Build files without hashing.
            </div>
            <div class="item">
              <app-code-container key="ngBuildNoHash" [codeMap]="codeMap">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Create server.ts under the root folder.
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Import AppServerModule and renderModule from the compiled file.
                  </div>
                </li>
                <li>
                  <div class="item">
                    <a href="https://angular.io/api/platform-server/renderModule">
                      renderModule
                    </a> API 
                    will bootstrap an application with provided NgModule and <b>serializes the page content to string</b>.
                  </div>
                </li>
              </ul>
            </div>
            <div class="item">
              <app-code-container key="renderModule" [codeMap]="codeMap">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Create the webpack.server.config.js under the root folder.
            </div>
            <div class="item">
              <app-code-container key="webpackConfigSSR" [codeMap]="codeMap">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Compile the webpack.server.config.js.
            </div>
            <div class="item">
              <app-code-container key="compileServerTs" [codeMap]="codeMap">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Replace all <b>self</b> with <b>this</b> from the dist/server.ts. (workaround)
            </div>
          </li>
          <li>
            <div class="item">
              Execute the dist/server.ts.
            </div>
            <div class="item">
              <app-code-container key="executeServerTs" [codeMap]="codeMap">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Open the browser and navigate to http://localhost:4201/index.html.
            </div>
            <div class="item">
              <div class="image-container">
                <img src="../../assets/image/ssr_app.png" alt="">
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              The following sequence diagram shows interactions between client and server in the SSR mode.
            </div>
            <div class="item">
              If the component asked the server for resources, the server will be hit twice. 
              This issue will be solved in 
              <a href="https://glistening-cupcake-ead467.netlify.app/#/breaking-changes">
                v14
              </a>.
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    The first time is when compiling the root module on the server-side.
                  </div>
                </li>
                <li>
                  <div class="item">
                    The second time is when rendering the root module on the client-side.
                  </div>
                </li>
              </ul>
            </div>
            <div class="item">
              <div class="image-container">
                <img src="../../assets/image/ssr.drawio.png" alt="">
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <!-- evaluation -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[3])" title>{{ sectionTitles[3] }}</div>
    <app-evaluation-container
      [pros]="pros"
      [cons]="cons">
    </app-evaluation-container>
  </app-section-container>
  
  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[4])" title>{{ sectionTitles[4] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>