<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  >
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        The path, environment, enable of Angular cache can be configured. There are two ways to manipulate cache object.
      </div>
      <div class="item">
        <ul>
          <li>Update angular.json
            <div class="item">
              <app-code-container
                [code]="angularjson"
                [languages]="['typescript']">
              </app-code-container>
            </div>
          </li>
          <li>Use ng cli
            <div class="item">
              <app-code-container
                [code]="angularcli"
                [languages]="['typescript']">
              </app-code-container>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="demo-container">
      <img src="../../assets/image/cache.png" alt="">    
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference" title>Reference</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>