<app-mobile-nav-container
  [routeMap]="routeMap"
  [sideBarList]="sideBarList"
  [typeTitleMap]="typeTitleMap"
  selectedRoute="HOME">
</app-mobile-nav-container>
<div class="app-container">
  <app-side-bar-container
  [routeMap]="routeMap"
  [sideBarList]="sideBarList"
  [typeTitleMap]="typeTitleMap">
  <a class="title-container" routerLink="/home">
    <img [src]="currentImage" alt="">
    <div class="title">
      {{title}}
    </div>
  </a>
  </app-side-bar-container>
  <div class="app-content">
    <div class="portal-container">
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>