<div class="app-container">
  <lib-doc-nav-container
    [routeMap]="routeMap"
    [sideBarList]="sideBarList"
    [typeTitleMap]="typeTitleMap"
    [showThemeButtonForSideBar]="false"
    selectedRoute="HOME">
  <a class="title-container" routerLink="/home">
    <img [src]="currentImage" alt="">
    <div class="title">
      {{title}}
    </div>
  </a>
  </lib-doc-nav-container>
  <div class="app-content">
    <div class="portal-container">
      <div class="tab-content">
        <router-outlet></router-outlet>
        <app-loading-indicator [detectNavigation]="true"></app-loading-indicator>
      </div>
    </div>

    <div class="page-footer-container">
      <app-footer-container 
        [routeMap]="routeMap"
        [sideBarList]="sideBarList"
        [showNavigationButton]="false"
        [externalLinkMap]="linkMap">
        <span class="theme-icon">
          <app-theme></app-theme>
        </span>
      </app-footer-container>
    </div>
  </div>
</div>