<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few improvement of stylishment in Angular 13.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              Support inline resource (Adobe font)
            </div>
          </li>
          <li>
            <div class="item">
              Support CSS variables
            </div>
          </li>
          <li>
            <div class="item">
              Support web animations via native web API
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="description-container">
      <div class="item">
        The inline-resorce extends Adobe font now. Inline font is one of factors for the 
        <a href="https://developer.chrome.com/docs/lighthouse/performance/first-contentful-paint?hl=zh-tw">
          first contentful paint (FCP)
        </a>.
      </div>
      <div class="item">
        <app-code-container key="stepsStyle">
        </app-code-container>
      </div>
    </div>
  </app-section-container>

  <!-- evaluation -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[2])" title>{{ sectionTitles[2] }}</div>
    <app-evaluation-container
      [pros]="prosForInlineFont"
      [cons]="consForInlineFont">
    </app-evaluation-container>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[3])" title>{{ sectionTitles[3] }}</div>
    <div class="description-container">
      <div class="item">
        We are able to use CSS Variables after removing IE11 supports.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Angular team recommends customizing variables to override library's style instead of using ::ng-deep. 
            </div>
          </li>
          <li>
            <div class="item">
              However, it seems that we could use CSS variables in Angular 12. (global theming)
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <app-code-container key="cssVariable">
        </app-code-container>
      </div>
      <div class="item">
        The following result demostrate the CSS variable works. 
      </div>
      <div class="item">
        <button class="css-variable-demo-btn">Demo</button>
      </div>
    </div>
  </app-section-container>
  
  <!-- evaluation -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[4])" title>{{ sectionTitles[4] }}</div>
    <app-evaluation-container
      [pros]="prosForCSSVariables"
      [cons]="consForCSSVariables">
    </app-evaluation-container>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[5])" title>{{ sectionTitles[5] }}</div>
    <div class="description-container">
      <div class="item">
        The purpose of web animation API is to deal with some problems of the traditional CSS animation.
        The traditional CSS animation can be only triggered by CSS properties (e.g, hover) or manipulating the CSSDOM from JavaScript. 
      </div>
      <div class="item">
        <b>Compatibility</b>
      </div>
      <div class="item">
        The web animation API has supported most modern broswers.
      </div>
      <div class="item">
        <div class="image-container">
          <img src="../../assets/image/web_animation_supports.png" alt="">
        </div>
      </div>
      <div class="item">
        <b>Example</b>
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Component
            </div>
            <div class="item">
              <app-code-container key="webAnimationComponent">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Template
            </div>
            <div class="item">
              <app-code-container key="webAnimationTemplate">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Style
            </div>
            <div class="item">
              <app-code-container key="webAnimationStyle">
              </app-code-container>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        The following result demostrate the web animation API works.
      </div>
      <div class="item" id="web-animation-demo">
        <app-inline-font-web-animation>
        </app-inline-font-web-animation>
      </div>
    </div>
  </app-section-container>

  <!-- evaluation -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[6])" title>{{ sectionTitles[6] }}</div>
    <app-evaluation-container
      [pros]="prosForWebAnimationsAPI"
      [cons]="consForWebAnimationsAPI">
    </app-evaluation-container>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[7])" title>{{ sectionTitles[7] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>