<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few changes.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              In APF 13, it supports the Node Package Exports.
            </div>
          </li>
          <li>
            <div class="item">
              In APF 13, it standardizes on more modern JavavScript formats such as EcmaScript 2020 (ES2020).
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>
  
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="description-container">
      <div class="item">
        <b>EcmaScript Module (ESM) vs Flattened EcmaScript Module (FESM)</b>
      </div>
      <div class="item">
       For the browser environment, we have to use third-party libraries to import JavaScript modules to browsers like require.js (UMD implementation). 
      </div>
      <div class="item">
        For Node.js, we usually import and export JavaScript modules in the common.js format. After Node.js 12, it began to support ESM.
      </div>
      <div class="item">
        The purpose of ESM (ES2015, ES2020 Module) is to provide a native way to load JavaScript modules into a browser. 
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              ESM: modules are separted in different files individually.
            </div>
          </li>
          <li>
            <div class="item">
              FESM: flatten all module into a single file.
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="image-container">
          <img src="../../assets/image/esm_fesm.png" alt="">
        </div>
      </div>
      <div class="item">
        <b>
          What is Angular Package Format (APF)?
        </b>
      </div>
      <div class="item">
        APF enables a package to work seamlessly under most common scenarios. The APF can be compatible to Common.js, ESM, and the requre.js. 
      </div>
      <div class="item">
        The @angular/core (13.3.0) exports API in APF so we can learn the APF by discovering the <b>export</b> section of package.json. 
      </div>
      <div class="item">
        Under the <b>export</b> section, there are a few module formats.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              types: .d.ts files are used by TypeScript
            </div>
          </li>
          <li>
            <div class="item">
              esm2020: unflattened ES2022 module
            </div>
          </li>
          <li>
            <div class="item">
              es2020: flattened ES2022 module
            </div>
          </li>
          <li>
            <div class="item">
              es2015: flattened ES2015 module
            </div>
          </li>
          <li>
            <div class="item">
              node: flattened ES2015 module (Node.js 12+ supports ESM)
            </div>
          </li>
          <li>
            <div class="item">
              default: flattened ES2022 module
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="image-container">
          <img src="../../assets/image/angular_core.png" alt="">
        </div>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[2])" title>{{ sectionTitles[2] }}</div>
    <div class="description-container">
      <div class="item">
        We can also learn the APF by creating ouw own libraries.
      </div>
      <div class="item">
        In the following steps, we will try to create a simple Angular library in APF.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              Execute the following command to create a new Angular library in the existing working-space.
            </div>
            <div class="item">
              <app-code-container key="apfStep1">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Update the package.json.
            </div>
            <div class="item">
              <app-code-container key="apfStep2">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Create a new module for the library.
            </div>
            <div class="item">
              <app-code-container key="apfStep3">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Move the existing component into the module. (e.g., DocReviewerContainerComponent)
            </div>
          </li>
          <li>
            <div class="item">
              Update the documentation-ui.module.ts and expose the component.
            </div>
            <div class="item">
              <app-code-container key="apfStep4">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Update the public-api.ts.
            </div>
            <div class="item">
              <app-code-container key="apfStep5">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Go back to the root folder.
            </div>
          </li>
          <li>
            <div class="item">
              Build, pack, and install the library. It will generate the documentation-ui-0.0.1.tgz under the dist/documentation-ui.
            </div>
            <div class="item">
              <app-code-container key="apfStep6">
              </app-code-container>
            </div>
            <div class="item">
              Now, we can discover the file structure of the generated package in APF.
            </div>
            <div class="item">
              <div class="image-container">
                <img src="../../assets/image/apf2.png" alt="">
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              Update the app.module.ts to import the built package.
            </div>
            <div class="item">
              <app-code-container key="apfStep7">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Now we are able to use exported component in the project.
            </div>
            <div class="item">
              <app-code-container key="apfStep8">
              </app-code-container>
            </div>
            <div class="item">
              <app-code-container key="apfStep8-2">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Login npm.
            </div>
            <div class="item">
              <app-code-container key="apfStep9">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Publish the generated package on npm.
            </div>
            <div class="item">
              <app-code-container key="apfStep10">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Navagate to the 
              <a href="https://www.npmjs.com/package/angular-documentation-ui?activeTab=readme">
                package's page
              </a>, you will see the content of the readme.md of this package.
            </div>
            <div class="item">
              <div class="image-container">
                <img src="../../assets/image/npm.png" alt="">
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[3])" title>{{ sectionTitles[3] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>
