<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        There are a few minor features in Angular 13.
      </div>
      <ul>
        <li>
          <div class="item">
            Angular Package Format changes
          </div>
          <div class="item">
            <ul>
              <li>
                <div class="item">
                  Support Node Package Exports
                </div>
              </li>
              <li>
                <div class="item">
                  Standardized on more modern JS formats such as ES2020
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </app-section-container>
  
  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>
