.content-container {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  li {
    font-size: 1.2em;  
  }
}
  
  .demo-container {
    display: flex;
    justify-content: center;
  }
    
  .title {
    font-size: 1.8em;
    text-align: center;
    margin: 1em;
  }