<div class="base-container">
  <div class="page-title">
    <div class="content">
      {{ title }}
    </div>
    <app-navigation-button-container 
      [routeMap]="routeMap"
      [sideBarList]="sideBarList">
    </app-navigation-button-container>
  </div>

  <ng-content></ng-content>

  <app-doc-reviewer-container
    [sections]="sections"
    [titles]="sectionTitles"
    [getIdFromTitle]="getIdFromTitle">
  </app-doc-reviewer-container>
</div>

<app-footer-container 
  [routeMap]="routeMap"
  [sideBarList]="sideBarList">
  Curated by <a [href]="authorUrl">Jen-hsuan Hsieh (Sean)</a>
  © 2024 - 2034
</app-footer-container>