.title {
  font-size: 1.8em;
  font-weight: 300;
  font-family: "Inter Tight", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--foreground-default);
  text-align: center;
  margin: 1em 0;
  font-style: normal;
  font-weight: 400;
  width: calc(100% - 3.2em);
}

.description-container {
  width: 35em;
  font-size: 1.1em;
  margin: 0 auto;
  padding-bottom: 2em;
  font-style: normal;
  font-weight: 400;
  color: var(--foreground-default);
  width: calc(100% - 3.2em);
  overflow-x: hidden;
  .item {
    margin: .4em 0;
  }
  .image-container {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
  .page-section {
    margin: 1em 0;
  }
}

@media screen and (max-width: 1300px) {
  .description-container {
    padding-left: 0;
  }
}