<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >

  <!-- description -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        The Component API has been updated. The process for generating dynamic components was simplified.
      </div>
      <div class="item">
        Ivy creates the opportunity to instantiate the component with 
        <a href="https://angular.io/api/core/ViewContainerRef#createComponent">
          ViewContainerRef.createComponent
        </a> without creating an associated factory.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Child
            </div>
            <div class="item">
              <app-code-container key="dynamicChildTemplate">
              </app-code-container>
            </div>
            <div class="item">
              <app-code-container key="dynamicChildComponent">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Parent
            </div>
            <div class="item">
              <app-code-container key="dynamicParentTemplate">
              </app-code-container>
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Component in the previous version
                  </div>
                  <div class="item">
                    <app-code-container key="legacyCodeDynamic">
                    </app-code-container>
                  </div>
                </li>
                <li>
                  <div class="item">
                    Component with new API
                  </div>
                  <div class="item">
                    <app-code-container key="newCodeDynamic">
                    </app-code-container>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        The following result demostrate the new component API works.
      </div>
      <div class="item">
        <ng-container #container>
        </ng-container>    
      </div>
    </div>
  </app-section-container>

   <!-- reference -->
   <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>
