<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >

  <!-- description -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        The Component API has been updated. The process for generating dynamic components was simplified.
      </div>
      <div class="item">
        Ivy creates the opportunity to instantiate the component with ViewContainerRef.createComponent without creating an associated factory.
      </div>
      <div class="item">
        <ul>
          <li>Previous version:
            <div class="item">
              <app-code-container key="legacyCodeDynamic">
              </app-code-container>
            </div>
          </li>
          <li>New API:
            <div class="item">
              <app-code-container key="newCodeDynamic">
              </app-code-container>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="demo-container">
      <div class="item">
        The following component is created dynamically.
      </div>
      <div class="item">
        <ng-container #container>
        </ng-container>    
      </div>
    </div>
  </app-section-container>

   <!-- reference -->
   <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[2])" title>{{ sectionTitles[2] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>
