.content-container {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  margin-bottom: 5em;
  font-family: audrielle-no1, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.demo-container {
  border: 1px solid black;
}

.title {
  font-size: 1.8em;
  text-align: center;
  margin: 1.5em 1em 1em 1em;
}