<div class="base-container">
  <div class="page-title">{{ title }}</div>

  <app-section-container>
    <div class="title">How to Create a specific version of Angular Project using CLI?</div>
    <div class="content-container">
      <pre>
        <code
          [highlight]="instruction"
          [languages]="['html']"  
          [lineNumbers]="true"
        ></code>
      </pre>
    </div>
  </app-section-container>

  <!-- description -->
  <app-section-container>
    <div class="title">Description</div>
    <div class="content-container">
      Thanks Ivy, the Component API has been updated the process for denerating dynamic components was simplified.
    </div>
  </app-section-container>
  
  <app-section-container>
    <div class="title">Code</div>
    <div class="content-container">
      <pre>
        <code
          [highlight]="code"
          [languages]="['typescript']"  
          [lineNumbers]="true"
        ></code>
      </pre>
    </div>
  </app-section-container>
  

  <app-section-container>
    <div class="title">Demo</div>
    <div class="demo-container">
      <p>standard works!</p>    
      <ng-container #container>
      </ng-container>    
    </div>
  </app-section-container>
</div>