<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        In v13, Angular introduces a new type called "FormControlStatus" for better checking the form controls.
      </div>
      <div class="item">
        This property is turned from string type to enum type.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Previous status of FormControl
            </div>
            <div class="item">
              <app-code-container key="formControlStatus12">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Status of FormControl in v13
            </div>
            <div class="item">
              <app-code-container key="formControlStatus13">
              </app-code-container>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
  
  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>