/* You can add global styles to this file, and also import other style files */
@use "../node_modules/angular-documentation-ui/styles/base/index";
@use "../node_modules/angular-documentation-ui/styles/pages/index" as page;
@use "../node_modules/angular-documentation-ui/styles/code/index" as code;
@use "../node_modules/angular-documentation-ui/styles/theme/index" as theme;
@use "../node_modules/angular-documentation-ui/styles/app/index" as app;

:root {
  --blue: #1e90ff;
  --white: #ffffff; 
}

body {
  margin: 0;
  margin-top: -5px;
  padding: 0;
  background: var(--background-default);
  //color: m.$base-color;
}