.export {
  font-size: 1.6em;
  display: flex;
  justify-self: center;
}

.content-container {
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    margin-bottom: 5em;
    font-family: audrielle-no1, sans-serif;
  font-style: normal;
  font-weight: 400;
}
  
.demo-container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: .5em;
}

.title {
  font-size: 1.8em;
  text-align: center;
  margin: 1em;
}