<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        The proxy configuration support ESM (ES6 modules) now.
        We are able to create the proxy file in the .mjs file format directly.
      </div>
      <div class="item">
        There are a few steps to set up the proxy.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              Create a proxy.conf.mjs file.
            </div>
            <div class="item">
              <app-code-container key="step1ESM">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Update the angular.json file.
            </div>
            <div class="item">
              <app-code-container key="step2ESM">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Setup the backend locally (http://localhost:3000).
            </div>
          </li>
          <li>
            <div class="item">
              Start the dev server.
            </div>
            <div class="item">
              <app-code-container key="step4ESM">
              </app-code-container>
            </div>
          </li>
        </ol>
      </div>
      <div class="item">
        Click the following button to demostrate the ESM proxy file works.
      </div>
      <div class="item">
        <div class="button-container">
          <button class="export" (click)="printFromServer()">
            Export PDF from server
          </button>    
        </div>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="reference-container">
      <div class="item">
        <app-reference-container [references]="referencesMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>

