<div class="base-container">
  <div class="page-title">{{ title }}</div>

  <app-section-container>
    <div class="title">Description</div>
    <div class="content-container">
      The proxy configuration support ESM now.
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title">Steps</div>
    <div class="content-container">
      <pre>
        <code [innerHTML]="escapeHtml(steps)"></code>
      </pre>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title">Demo</div>
    <div class="button-container">
      <button class="export" (click)="printFromServer()">
        Export PDF from server
      </button>    
    </div>
    <div class="demo-container">
      <img src="../../assets/image/pdf.png" alt="">
    </div>  
  </app-section-container>
</div> 
