<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  [getIdFromTitle]="getIdFromTitle"
  >

  <!-- reference -->
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="reference-container">
      <div class="item">
        <ul>
          <li>
            <a href="https://update.angular.io/?locale=en-US&l=3&v=12.0-13.0">
              Migaration guide
            </a>
          </li>
          <li>
            <div class="item">
              ESM
            </div>
            <ul>
              <li>
                <div class="item">
                  <a href="https://chentsulin.medium.com/%E5%9C%A8-2021-%E5%8F%AF%E4%BB%A5%E4%BD%BF%E7%94%A8-esmodule-%E4%BA%86%E5%97%8E-c05c3408e69">在 2021 可以使用 ESModule 了嗎？</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</app-page-container>