.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Inter Tight", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  .footer-container {
    color: var(--primary-default);
    height: 13em;
    line-height: 13em;
    width: 100%;
    text-align: end;
    font-size: .9em;
    font-family: "Inter Tight", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 5em;
    margin-bottom: 4em;
    button {
      height: 2.5em;  
      padding: 0 2em;
      font-size: 1.2em;
      color: var(--foreground-default);
      background-color: var(--background-default);
      border: 1px solid var(--foreground-active);
      border-radius: .3em;
      cursor: pointer;
      -webkit-transition: background 1s; /* For Safari 3.0 to 6.0 */
      transition: background 1s; /* For modern browsers */
      box-shadow: 3px 3px 6px -3px rgba(0, 0, 0);
      &:hover {
        color: var(--background-gray);
        opacity: .9;
        background-color: var(--foreground-active);
      }
    }
  }

  .item-container {
    position: relative;
    color: var(--foreground-light);
    min-width: 30em;
    .timeline-container {
      font-size: 1em;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
      a {
        color: var(--foreground-light);
        margin-left: .3em;
      }
    }
    .title-container {
      position: relative;
      display: flex;
      margin-top: 10em;
      justify-content: center;
      .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.5em;
        img {
          width: 6em;
          height: 6em;
          line-height: 6em;
          margin-right: .5em;
        }
      }
      .title {
        font-size: 3.5em;
        line-height: 3.5em;
        font-family: Arial, Helvetica, sans-serif;
        width: calc(100% - 6em);
        min-width: 10em;
        overflow-x: hidden;
      }
    }
  
    .history-container {
      position: relative;
      .title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        margin: .2em;
      }
      .histories {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        ul {
          list-style-type: none;
          padding-left: 0em;
          cursor: pointer;
          color: var(--foreground-light);
          li {
            a {
              color: var(--foreground-light);
              font-size: 1em;
              text-decoration: none;
              &:hover {
                color: var(--foreground-default);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .home-container {
    .footer-container {
      display: flex;
      justify-content: center;
    }

    .item-container {
      .title-container {
        .image-container {
          img {
            width: 3em;
            height: 3em;
          }
        }

        .title {
          font-size: 1.5em;
        }
      }
    }
  }
}
