<div class="home-container">
  <div class="item-container">
    <div class="title-container">
      <div class="image-container">
        <img [src]="currentImage" alt="">
      </div>
      <div class="title">
      {{ title }}
      </div>
    </div>
    <div class="button-container">
      <button (click)="firstPage()">Get Started</button>
    </div>
    <div class="history-container">
      <div class="title">
        You may also want to check notes of different versions.
      </div>
      <div class="histories">
        <ul>
          <li *ngFor="let item of urlMap | keyvalue">
            <a [href]="item.value">{{ item.key }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="timeline-container">
      Or check the 
      <a [href]="timelineUrl">
        timeline
      </a>
    </div>
    <div class="footer-container">
      <div>
        Curated by <a [href]="authorUrl">Jen-hsuan Hsieh (Sean)</a>
        © 2024 - 2034
      </div>
    </div>
  </div>
</div>