<div class="base-container">
  <div class="page-title">{{ title }}</div>

  <!-- official document -->
  <div class="content-container">
    <ul>
      <li>
        <a href="https://update.angular.io/?v=12.0-13.0"> Angular Update Guide</a>
      </li>
    </ul>
  </div>

  <!-- reference -->
  <div class="title">Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://blog.angular.io/angular-v13-is-now-available-cce66f7bc296">
            Angular v13 is now Available
          </a>
        </li>
      </ul>
    </div>
</div>