<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  >
  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[0])" title>{{ sectionTitles[0] }}</div>
    <div class="description-container">
      <div class="item">
        This document is built based on Angular {{ version }} to demostrate concepts and documentation for different sources. 
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              The purpose is to introduce the features, deprecations, and breaking changes of Angular {{ version }}.
            </div>
          </li>
          <li>
            <div class="item">
              For the advanced studying, it's recommended to check documents in later versions of Angular or the timeline from the 
              <a href="/#/home">home</a> page.
            </div>
          </li>
          <li>
            <div class="tem">
              Feel free to reach out to me if you have any questions or suggestions. 
              <a [href]="authorUrl">(contact me)</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</app-section-container>

  <app-section-container>
    <div class="title" [id]="getIdFromTitle(sectionTitles[1])" title>{{ sectionTitles[1] }}</div>
    <div class="description-container" id="document">
      <div class="item">
        This document is mainly inspired by the following materials.
      </div>
      <div class="item">
        <app-reference-container [references]="officialDocumentsMap">
        </app-reference-container>
      </div>
    </div>
  </app-section-container>
</app-page-container>